 /* Limpar formatação padrão */

*{
	margin: 0;
	padding: 0;
}

body{
	font-size:16px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background:#f3f3f3;
}


#navegacao{
	background:#c80000;
	border-bottom: 5px solid #d8d8d8;
	height:85px;
}

#header{
    background:#a00000;
    margin: 0;
	padding: 0;
    background-image: url("galo.jpg");
     background-repeat: no-repeat;
     background-position:  absolute;
	top: 50%;
	left: 50%;
     background-size: 1200px ;
	border-bottom: 1px solid #d8d8d8;
	height:385px;


}
#cont1{
	background:#c80000;
	border-bottom: 1px solid #d8d8d8;
	height:578px;
}

#footer{
	background:#c80000;
	border-bottom: 1px solid #d8d8d8;
	height:365px;
}

#area{
	width: 1320px;
	margin: 0 auto; 
	border: 2px solid  Tomato;
    
}

#menu{
	float: right;
	/*border:1px solid red;*/
	padding: 10px 0;

}

#logo{
	float: left;
}

/********************* formatação do menu*/
a{
	text-decoration:none;
  padding: 20px 25px;
}

a:link {
  color: #838383;
}
a:visited {
 color: pink;
}


a:hover {
   color: red;
	background: yellow;
    font-size: 30px;
}

a:active {
  color: #df2b4f;
}

/*classes*/
.verde{
	color:#b9c941;
}



.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

div.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}